/* Estilos generales */
body {
    background-color: yellow; /* Fondo amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para la barra de búsqueda */
.busqueda-container {
    margin-bottom: 20px;
}

#busquedaInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

#botonBusqueda{
    background-color: #007bff; /* Azul */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#botonBusqueda:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
}

/* Estilos para los resultados */
.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.card img {
    max-width: 100px;
    max-height: 100px;
}
